<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddItem(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                    type="text"
                    id="name" 
                    class="form-control"
                    name="name"
                    ngModel
                    required
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" 
                    id="amount" 
                    class="form-control"
                    name="amount"
                    ngModel
                    required
                    [pattern]="'^[1-9]+[0-9]*$'"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button 
                        style="margin-right: 5px;" 
                        class="btn btn-success" 
                        [disabled]="!f.valid" 
                        type="submit"> {{ editMode ? 'Update' : 'Add'  }} </button>
                    <button 
                        *ngIf="editMode"
                        style="margin-right: 5px;" 
                        class="btn btn-danger" 
                        type="button"
                        (click)="onDeleteItem()"
                        >Delete</button>
                    <button 
                        style="margin-right: 5px;" 
                        class="btn btn-primary" 
                        type="button"
                        (click)="clearForm()"
                        >Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
